@using Makerlab.Helpers
<div class="col-md-2">
    <div class="list-group">
        <a href="@Url.Action("Index", "Dashboard")" class="list-group-item @Html.IsSelected(controller: "Dashboard", action: "Index")">
            <i class="glyphicon glyphicon-th-list"></i> Dashboard
        </a>

        <a href="@Url.Action("Printers", "Dashboard")" class="list-group-item @Html.IsSelected(controller: "Dashboard", action: "Printers")">
            <i class="glyphicon glyphicon-print"></i> Printere
        </a>

        <a href="@Url.Action("Messages", "Dashboard")" class="list-group-item @Html.IsSelected(controller: "Dashboard", action: "Messages")">
            <i class="glyphicon glyphicon-envelope"></i> Beskeder
        </a>
    </div>

    <h3>Brugere</h3>
    <div class="list-group">
        <a href="@Url.Action("Userroles", "Dashboard")" class="list-group-item @Html.IsSelected(controller: "Dashboard", action: "Userroles")">
            <i class="glyphicon glyphicon-user"></i> Brugerroller
        </a>

        <a href="@Url.Action("Users", "Dashboard")" class="list-group-item @Html.IsSelected(controller: "Dashboard", action: "Users")">
            <i class="glyphicon glyphicon-user"></i> Brugere
        </a>
    </div>
</div>
