@using System.Web.Mvc.Html
@using System.Web.UI.HtmlControls
@using Makerlab.Controllers
@using Makerlab.DAL
@using Makerlab.Models
@model Makerlab.Models.Message

@{
    ViewBag.Title = "MakerLab :: Messages";
}

<div class="container">
    <div class="row">
        @Html.Partial("_dashboard_navbar")

        @using (Html.BeginForm("Create", "Messages"))
        {
            <div class="col-md-10">
                <h3 class="header-no-margin">Skriv Besked</h3>

                <h5 class="header-no-margin">Besked:</h5>
                <div class="form-group">
                    @Html.EditorFor(model => model.Content)
                    @Html.ValidationMessageFor(model => model.Content)

                </div>

                <br />
                <div>
                    <h4 class="header-no-margin">Beskedtype: </h4>
                    <select name="Type">
                        <option value="alert-info">Info</option>
                        <option value="alert-warning">Advarsel</option>
                        <option value="alert-danger">Danger</option>
                    </select>

                </div>
              
                <br />
                <div class="form-group">
                    <div>
                        <input type="submit" value="Opret Besked" class="btn btn-primary" />
                    </div>
                </div>
            </div>
        }


        <div class="col-md-10">
            <h3 class="header-no-margin">Beskeder</h3>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Besked</th>
                        <th>Type</th>
                    </tr>
                </thead>

                <tbody>
                    @foreach (var message in MessageManager.Read())
                    {
                        <tr>
                            <td>@message.Content</td>
                            <td>@message.Type</td>

                            <td>
                                @using (Html.BeginForm("Delete", "Messages", new { id = message.Id }, FormMethod.Post))
                                {
                                    <input type="submit" value="Delete" class="btn btn-danger btn-sm" />
                                }
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>

    </div>
</div>
