@model Makerlab.Models.Booking

@{
    ViewBag.Title = "Delete";
}


<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h3>Er du sikker på at du vil slette denne booking?</h3>
            <div>
                <dl class="dl-horizontal">
                    <dt>
                        @Html.DisplayNameFor(model => model.File.FileName)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.File.FileName)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Printer.Name)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Printer.Name)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.User.FirstName)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.User.FirstName)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.StartTime)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.StartTime)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.EndTime)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.EndTime)
                    </dd>

                </dl>

                @using (Html.BeginForm())
                {
 @Html.AntiForgeryToken()



                    <div class="form-actions no-color">
                        <input type="submit" value="Delete" class="btn btn-danger" />
                        |
           
                        @Html.ActionLink("Tilbage til mine bookinger", "MyBookings", "Frontend")
                    </div>
                }
            </div>

        </div>
    </div>
</div>
