@using Makerlab.Extensions
@using Makerlab.Helpers
@using Makerlab.Models
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="@Url.Action("Index", "Frontend")">Makerlab</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li class="@Html.IsSelected(action: "Index")"><a href="@Url.Action("Index", "Frontend")"><i class="glyphicon glyphicon-home"></i> Oversigt</a></li>

                <li class="@Html.IsSelected(action: "MyBookings")"><a href="@Url.Action("MyBookings", "Frontend")"><i class="glyphicon glyphicon-th-list"></i> Mine bookinger</a></li>


                @if (User.Identity.IsAuthenticated)
                {
                    <li class="@Html.IsSelected(action: "NewBooking")"><a href="@Url.Action("NewBooking", "Frontend")"><i class="glyphicon glyphicon glyphicon-plus"></i> Ny booking</a></li>
                }
                
            </ul>

            <ul class="nav navbar-nav navbar-right">
                @if (!User.Identity.IsAuthenticated)
                {
                    <li class="@Html.IsSelected(action: "LogInd")"><a href="@Url.Action("LogInd", "Frontend")"><i class="glyphicon glyphicon-log-in"></i> Log ind</a></li>

                }
                else
                {
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                            <i class="glyphicon glyphicon-user"></i>
                             @*@ViewContext.BaseController().CurrentUser.FirstName*@<span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="@Url.Action("SignOut", "AuthServices")"><i class="glyphicon glyphicon-log-out"></i> Log ud</a></li>
                        </ul>
                    </li>
                }

            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>
