@{
    ViewBag.Title = "MakerLab :: Printers";
}
@model List<Makerlab.Models.Printer>
<div class="container">
    <div class="col-md-9">
        <h3 class="header-no-margin">Aktive printere</h3>
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Navn</th>
                <th>Status</th>
                <th>Temperature</th>
                <th>Billede</th>
                <th class="col-md-1">Stop print</th>
            </tr>

            </thead>
            <tbody>
            @foreach (var printer in Model.Where(printer => printer.IsBookable))
            {
                <tr>
                    <td>@printer.Name</td>
                    <td>@Html.DisplayFor(modelItem => printer.Printing)</td>
                    <td>Bed: @printer.BedTemperature, Nozzle: @printer.NozzleTemperature</td>
                    <td><img id="printer_frame_@(printer.Id)" src="data:image/png;base64, @printer.LastFrame"/></td>
                    <td>
                        <a href="@Url.Action("CancelPrint", "Printers", new { Id = printer.Id })" class="btn btn-warning btn-sm" title="Annuller print"> <i class="glyphicon glyphicon-trash"></i></a>
                    </td>
                </tr>
            }
            </tbody>
        </table>
    </div>
</div>
<script>
    var printer_ids = @Json.Encode(@Model.Select(p => p.Id).ToList());
    $(function() {
        function loadFrame() {
            
        }
    });
</script>
